@model GildedRose.Models.ProductAgingViewModel

@{
    ViewBag.Title = "Aging";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Product Age
</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "HomeFormPoster", name = "HomeFormPoster" }))
{
    if (TempData["GildedErrorMessage"] != null)
    {<p><font color="red" size="2"><b>@TempData["GildedErrorMessage"]</b></font></p>}
<hr />
<div class="form-horizontal">
    <table  class="table" style="border-spacing:0">
        <tr style="border-bottom:hidden;border-top:hidden">
            <td>
                <a onchange="javascript:submit_by_id(this)" id="NamePicker">
                    Product @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.Products, "ProductId", "ProductName"), "All Products")
                </a>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <a onchange="javascript:submit_by_id(this)" id="QualityLevel">
                    Zero Quality? @Html.CheckBoxFor(model => model.ZeroOnly)
                </a>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <a onchange="javascript:submit_by_id(this)" id="AsOfPicker">
                    As-of-Date @Html.EditorFor(m => m.AsOfDate)
                </a>
            </td>
        </tr>
    </table>
    
    <table class="table">
        <tr style="border-bottom:hidden;border-spacing:0">
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>
                Recvd
            </th>
            <th>
                Recvd
            </th>
            <th>
                Quality
            </th>
            <th>
                Sell In
            </th>
        </tr>
        <tr style="border-top:hidden;border-spacing:0">
            <th>
                Product
            </th>
            <th>
                Category
            </th>
            <th>
                Scheme
            </th>
            <th>
                Sell In
            </th>
            <th>
                Quality
            </th>
            <th>
                Now
            </th>
            <th>
                Now
            </th>
        </tr>

        @foreach (var item in Model.ProductAges)
        {
        <tr>
            <td class="@(item.RemainingQuality < 6 ? "quality-warning" : "")">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td class="@(item.RemainingQuality < 6 ? "quality-warning" : "")">
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td class ="@(item.RemainingQuality < 6 ? "quality-warning" : "")">
                @Html.DisplayFor(modelItem => item.SchemeName)
            </td>
            <td class="@(item.RemainingQuality < 6 ? "quality-warning" : "")">
                @Html.DisplayFor(modelItem => item.SellIn)
            </td>
            <td class="@(item.RemainingQuality < 6 ? "quality-warning" : "")">
                @Html.DisplayFor(modelItem => item.InitialQuality)
            </td>
            <td class="@(item.RemainingQuality < 6 ? "quality-warning" : "")">
                @Html.DisplayFor(modelItem => item.RemainingQuality)
            </td>
            <td class="@(item.RemainingQuality < 6 ? "quality-warning" : "")">
                @Html.DisplayFor(modelItem => item.RemainingDays)
            </td>
        </tr>
        }
    </table>
</div>
}

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" language="javascript">
        function submit_by_id(id) {
            document.getElementById("HomeFormPoster").submit(); //form submission
        }
    </script>
    }