@model IEnumerable<GildedRose.Models.AgingThreshold>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgingScheme.SchemeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThresholdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysPrior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncrementRate)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgingScheme.SchemeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThresholdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysPrior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncrementRate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AgingThresholdId }) |
                @Html.ActionLink("Details", "Details", new { id=item.AgingThresholdId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AgingThresholdId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
